@import url(./vendor/normalize.css);

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

.header {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header {
    max-width: calc(928px + (1184 - 928) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    padding-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    padding-top: calc(16px + (28 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}

.header__img {
  width: 176px;
  height: 52px;
  background-image: url(/russian-travel/image/header-logo.svg);
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .header__img {
    width: calc(142px + (176 - 142) * (100vw - 320px) / (768 - 320));
    height: calc(42px + (52 - 42) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .header__img {
    width: 142px;
    height: 42px;
  }
}

.header__lang-link {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 18px 0 6px;
}

.header__lang-link_ru {
  width: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  margin-right: 18px;
  transition: 1s;
  color: #FFFFFF;
}

.header__lang-link_ru:hover {
  opacity: .8;
  transition: 1s;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__lang-link_ru {
    width: calc(22px + (30 - 22) * (100vw - 320px) / (768 - 320));
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (768 - 320));
    line-height: calc(20px + (28 - 20) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link_ru {
    width: 22px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link_en {
  width: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  transition: 1s;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-link_en:hover {
  opacity: .8;
  transition: 1s;
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .header__lang-link_en {
    width: calc(22px + (29 - 22) * (100vw - 320px) / (768 - 320));
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (768 - 320));
    line-height: calc(20px + (28 - 20) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link_en {
    width: 22px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead {
    max-width: calc(928px + (984 - 928) * (100vw - 1024px) / (1280 - 1024));
    padding-top: calc(48px + (56 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead {
    max-width: calc(768px + (928 - 768) * (100vw - 768px) / (1024 - 768));
    padding-top: 48px
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding-top: 48px
  }
}

.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    font-size: calc(40px + (96 - 40) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    line-height: calc(44px + (100 - 44) * (100vw - 320px) / (768 - 320));
    margin-bottom: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__subtitle {
    margin-bottom: calc(56px + (64 - 56) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (640 - 288) * (100vw - 320px) / (768 - 320));
    line-height: calc(20px + (36 - 20) * (100vw - 320px) / (768 - 320));
    margin-bottom: calc(40px + (56 - 40) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.lead__img {
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0 0;
  max-width: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__caption {
    margin-left: calc(24px + (0 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__caption {
    margin-left: calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  margin: 0 442px 0 148px;
  padding: 92px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    margin: 0 calc(286px + (442 - 286) * (100vw - 1024px) / (1280 - 1024)) 0 calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    padding: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768)) 0;
    margin: 0 calc(24px + (286 - 24) * (100vw - 768px) / (1024 - 768)) 0 calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro {
    padding: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320)) 0;
    margin: 0 calc(16px + (24 - 16) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 0;
    margin: 0 16px;
  }
}

.intro__title {
  max-width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro__title {
    font-size: calc(32px + (54 - 32) * (100vw - 320px) / (768 - 320));
    line-height: calc(35px + (58 - 35) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

.intro__text {
  margin: 40px 0 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
  }
}

.intro__list {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
}

.intro__number {
  font-weight: 300;
}

.photo-grid {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, calc(300px + (284 - 300) * (100vw - 1024px) / (1280 - 1024)));
    gap: calc(14px + (16 - 14) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, calc(352px + (300 - 352) * (100vw - 768px) / (1024 - 768)));
    gap: calc(16px + (14 - 16) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, calc(288px + (352 - 288) * (100vw - 320px) / (768 - 320)));
    gap: calc(12px + (16 - 12) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 12px;
  }
}

.photo-grid__item {
  object-fit: cover;
  width: 100%;
}

.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    padding: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768)) 0 calc(90px + (92 - 90) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .places {
    padding: calc(64px + (88 - 64) * (100vw - 320px) / (768 - 320)) 0 calc(66px + (90 - 66) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 66px;
  }
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-bottom: 80px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place {
    grid-template-columns: calc(440px + (460 - 440) * (100vw - 1024px) / (1280 - 1024)) calc(456px + (484 - 456) * (100vw - 1024px) / (1280 - 1024));
    grid-column-gap: calc(32px + (40 - 32) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(340px + (440 - 340) * (100vw - 768px) / (1024 - 768)) calc(352px + (456 - 352) * (100vw - 768px) / (1024 - 768));
    grid-column-gap: calc(28px + (32 - 28) * (100vw - 768px) / (1024 - 768));
    margin-bottom: calc(73px + (80 - 73) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place {
    margin-bottom: calc(50px + (73 - 50) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    grid-gap: 0;
  }
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  max-width: 460px;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: calc(42px + (72 - 42) * (100vw - 768px) / (1024 - 768));
    line-height: calc(46px + (76 - 46) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__title {
    font-size: calc(32px + (42 - 32) * (100vw - 320px) / (768 - 320));
    line-height: calc(35px + (46 - 35) * (100vw - 320px) / (768 - 320));
    max-width: calc(288px + (352 - 288) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin-bottom: 32px;
  }
}

.place__website {
  max-width: 456px;
  width: 100%;
  height: 46px;
  align-self: end;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__website {
    max-width: calc(288px + (352 - 288) * (100vw - 320px) / (768 - 320));
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    margin: 0 auto 32px;
  }
}

.place__url-heading {
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: underline;
  color: #FFFFFF;
  transition: 1s;
  align-self: flex-start;
}

.place__link:hover {
  opacity: .8;
  transition: 1s;
}

.place__image {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .place__image {
    margin-bottom: 32px;
  }
}

.place__paragraphs {
  max-width: 484px;
  display: grid;
  grid-row-gap: 26px;
}

.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph {
    font-size: calc(16px + (18 - 16) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__paragraph {
    max-width: calc(288px + (352 - 288) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 288px;
  }
}

.cover {
  max-width: 1184px;
  height: 740px;
  background-image: url(../russian-travel/image/cover-trains.jpg);
  margin: 0 auto;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover {
    height: calc(640px + (740 - 640) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    height: calc(480px + (640 - 480) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    height: calc(200px + (480 - 200) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .cover {
    max-height: 200px
  }
}

.cover__link {
  color: #FFFFFF;
  text-decoration: none;
  z-index: 2;
}

.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * (100vw - 425px) / (768 - 425));
    max-width: calc(288px + (560 - 288) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
    margin-bottom: 16px;
    height: 1.09;
  }
}

.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * (100vw - 425px) / (768 - 425));
    max-width: calc(288px + (560 - 288) * (100vw - 425px) / (768 - 425));
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 288px;
    height: 1.14;
  }
}

.cover__overlay {
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  transition: .5s;
}

.cover__overlay:hover {
  opacity: .8;
  transition: .5s;
}

.footer {
  max-width: 1184px;
  padding: 92px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
    max-width: calc(928px + (1184 - 928) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-width: calc(720px + (928 - 720) * (100vw - 768px) / (1024 - 768));
    padding-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    width: 351.84px;
    height: 310px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: calc(64px + (88 - 64) * (100vw - 320px) / (767 - 320));
    width: calc(200px + (351.84 - 200) * (100vw - 320px) / (767 - 320));
    margin-left: calc(16px + (207.578 - 16) * (100vw - 320px) / (767 - 320));
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
    width: 200px;
    margin-left: 16px;
  }
}

.footer__links {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}

.footer__link {
  height: 100%;
  margin-right: 18px;
  text-decoration: none;
  color: #FFFFFF;
  transition: 1s;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  align-self: flex-start;
}

.footer__link:hover {
  opacity: .8;
  transition: 1s;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: calc(24px + (16 - 24) * (100vw - 320px) / (767 - 320));
    line-height: calc(24px + (18 - 24) * (100vw - 320px) / (767 - 320));
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0 0 32px;
  }

  .footer__link:last-child {
    margin: 0;
  }
}

.footer__copyright {
  height: 18px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
}